body {
    padding: 2rem;
    font-family: sans-serif;
    font-size: 1rem;
    max-width: 200px;
}

table {
    width: 15rem;
}

th {
    text-align: left;
    font-weight: 400;
}

input {
    width: 3rem;
}

#target-btn {
    display: none;
}
/* 
.bp_list {
    width: 50px;
}

select, option {
    width: auto;
} */

select option {
    width: 100px;
}