body {
    padding: 2rem;
    font-family: sans-serif;
    font-size: 1rem;
    border: 1px solid red;
    max-width: 200px;
}

/* 
body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
}

 */


table {
    width: 15rem;
    border: 1px solid red;

}

th {
    /* border: 1px solid blue; */
    text-align: left;
    font-weight: 400;
}

input {
    width: 3rem;
}

.container {
    /* text-align: left; */
}

#target-btn {
    display: none;
}